{{#if success}}
	<p class="success">{{success.msg}}</p>
{{/if}}

<a href="/admin/new-post" class="button mb20">Create new post</a>

<table class="grid-12">
	<thead>
		<tr>
			<th>Title</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{{#each posts}}
			<tr>
			<td><a href="/admin/new-post/{{_id}}">{{title}}</a></td>
			<td><a href="/admin/delete-post/{{_id}}">Delete</a></td>
			</tr>
		{{/each}}
	</tbody>
</table>

