html {
	font-size: 62.5%;
}
body {
	font-family:HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 1.4em;
	line-height: 1.75;
	color: #333;
	background: #f2f2f2;
}
html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	overflow-x: hidden;
}

p {
	margin-bottom: 24px;
	font-size: 1.6rem;
}

h2 {
	display: inline-block;
	font-size: 2.6rem;
	text-transform: uppercase;
	border-bottom: 1px solid;
}

.highlight-text {
	color: #3e85a2;
}

.overlay-text {
	color: #fff;
}

.hero {
	position: relative;
	height: 40%;
	color: #fff;
	overflow: hidden;
	margin-bottom: 80px;
}

.mb10 {
	margin-bottom: 10px;
}

.zindex10 {
	z-index: 10;
}

.hero-bg {
	position: absolute;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.vertical-center {
	position: relative;
    top: 50%;
	transform: translateY(-50%);
}

.text-center {
	text-align: center;
}

.heading-text {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	letter-spacing: 3px;
	line-height: 1;
	font-size: 5rem;
	z-index: 10;
	text-transform: uppercase;
}

.standard-indent {
	margin-left: 40px;
}

.content {
	max-width: 920px;
	margin: 0 40px;
}

.content p:first-of-type::first-letter,
.content p:first-of-type:first-letter {
	float: left;
	font-weight: bold;
	font-size: 7.8rem;
	line-height: 1;
	margin-bottom: -40px;
	margin-right: 6px;
	color: #3e85a2;
}

.content p:first-of-type {
	font-size: 2.4rem;
	line-height: 1.5;
}

.col {
	margin-right: 2.34375%
}

.col-3 {
		width: 23.2421875%;
}

.last {
	margin-right: 0 !important;
}
